@tailwind preflight;

@tailwind components;

@tailwind utilities;

@responsive {
  .leading-byfont {
    line-height: normal;
  }
}

.mr-2-ex-last > *:not(:last-child) {
  @apply mr-2;
}

.border-r-ex-last > *:not(:last-child) > * {
  @apply border-r;
}

.douchebag-items-center {
  top: 50%; transform: translateY(-50%);
}

.douchebag-justify-center {
  right: 50%; transform: translateX(-50%);
}
